<h1>List Articles</h1>
<hr>

<div class="row">
    <div class="col text-right">
        <button routerLink="/articleCreate" class="btn btn-primary">
            <i class="fa fa-plus"> Create</i>
        </button>
    </div>
</div>

<table class="table mt-3 animated fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>            
            <th scope="col">Name</th>                      
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let article of articles; let i = index">
            <td>{{i + 1}}</td>
            <td>{{article.name}}</td>                        
            <td>
                <button class="btn btn-info mr-1" [routerLink]="['/articleEdit', article.id]">
                    <i class="fa fa-pencil"></i>
                </button>
                <button (click)="deleteArticle(article)" class="btn btn-danger mr-1">
                    <i class="fa fa-trash"></i>
                </button>
                <button [routerLink]="['/articleDetail',article.id]" class="btn btn-info">
                    <i class="fa fa-eye"></i>
                </button>
            </td>

        </tr>
    </tbody>
</table>
