<h4>Roles</h4>
<hr>


<div class="row animated fadeIn faster">
    <div class="col">
        <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="asociar()">
            <div class="form-group">
                <label>Email:</label>
                <input formControlName="email" type="text" name="email" class="form-control">
            </div>

            <div class="form-group">
                <label>Rol:</label>
                <input formControlName="role" maxlength="40" type="text" name="rol" class="form-control">
            </div>

            <hr>
            <div class="form-group text-center">
                <button (click)="asociar()" type="button" class="btn btn-primary w-25">
          <i class="fa fa-save"></i>
          Associate
        </button>
            </div>

            <div class="form-group text-center">
                <button (click)="remover()" type="button" class="btn btn-primary w-25">
          <i class="fa fa-save"></i>
          Remove
        </button>
            </div>

        </form>

    </div>
</div>